body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 10px;
}

h1, h2, h3 {
    color: #007bff;
<<<<<<< HEAD
}
=======
}
>>>>>>> 18680448c266675450e73ada268fda7b33c6a5c9
