body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 10px;
}

h1, h2, h3 {
    color: #007bff;
}
:root {
    --color-main: rgb(97, 97, 97);
    --color-shadow: rgb(71, 71, 71);
    --color-highlight: rgb(237, 237, 237);
    --color-accent1: rgb(173, 173, 173);
    --color-accent2: rgb(90, 0, 190);
  }