<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
   <header class="header">
    <nav class="nav">
        <a href="{{ url_for('index') }}">Startseite</a>
        <a href="{{ url_for('registrierung') }}">Registrieren</a>
        <a href="{{ url_for('anmeldung') }}">Anmeldung</a>
    </nav>

    <div class="logo-container">
        <img src="{{ url_for('static', filename='bilder/petmatchlogo.jpeg') }}" alt="PetMatch Logo" class="logo">
    </div>

</header>

    <!-- Platz für individuelle Seiteninhalte -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <a href="{{ url_for('kontakt') }}">Kontakt</a>
            <a href="{{ url_for('impressum') }}">Impressum</a>
            <a href="{{ url_for('datenschutz') }}">Datenschutz</a>
        </div>
    </footer>
</body>

</html>
