<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>PetMatch</h1>
        <nav>
            <a href="{{ url_for('index') }}">Startseite</a>
            <a href="{{ url_for('registrierung') }}">Registrieren</a>
            <a href="{{ url_for('anmeldung') }}">Anmeldung</a>
            
        </nav>
    </header>
    
    <!-- Platz für individuelle Seiteninhalte -->
    {% block content %}{% endblock %}
    
    <footer>
        <p>2024 PetMatch</p>
    </footer>
</body>
</html>
